.error, 
.success {
    background-color: #fff;
    border-radius: 0.2em;
}

.error {
    font-color: rgb(245, 22, 22);
    border: 2px solid red;
}

.success {
    font-color: rgb(8, 194, 92);
    border: 2px solid green;
}